
# Loads default set of integrations. Do not remove.
default_config:

# Load frontend themes from the themes folder
frontend:
  themes: !include_dir_merge_named themes

recorder:
  db_url: sqlite:///home-assistant_v2.db
  commit_interval: 1

logger:
  default: info
  logs:
    custom_components.lmt_iot_mqtt: debug
